.product-page {
  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  &__content {
    display: flex;
  }

  &__image {
    width: 50%;
    display: flex;
    justify-content: center;
    img{
      max-width: 70%;
    }
  }

  &__data {
    margin-left: 50px;
    width: 50%;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 30px;
    font-weight: bold;

    &:after {
      content: " ₽";
    }
  }

  &__controlls {
    display: flex;
    margin-top: 15px;

    button {
      &:first-child {
        margin-right: 20px;
      }
    }
    @media (max-width: 700px) {
      flex-direction: column;
      button {
        &:first-child {
          margin-right: 0px;
        }

        margin: 5px 0px;
      }
    }

    @media (max-width: 435px) {
      flex-direction: column;
      button {
        &:first-child {
          margin-right: 0px;
        }

        margin: 5px 0px;
      }
    }
  }

  &__description {
    margin-top: 20px;
    max-width: 50%;
  }

  &__text {
    word-wrap: break-word;
    line-height: 20px;
  }

  @media (max-width: 500px) {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    &__img {
      width: 60%;
    }
    &__data {
      margin-top: 15px;
      margin-left: 0px;
      width: 100%;
    }
    &__description {
      margin-top: 20px;
      max-width: 100%;
    }
  }
}
