.toasts{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3000;
  pointer-events: none;

  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    @media (max-width: 450px) {
      width: 330px;
    }
  }
}
.toastTransition-enter {
  opacity: 1;
  z-index: 3002;
}
.toastTransition-enter-active {
}
.toastTransition-exit {
  opacity: 1;
}
.toastTransition-exit-active {
  transform: translateY(+70px);
  z-index: 3001;
  opacity: 0.9;
  transition: all 1000ms ease-in;
}