.counter{
  display: flex;
  align-items: center;
  justify-content: center;
  &__controls{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    span{
      &:hover{
        cursor: pointer;
        color: fuchsia;
      }
    }
  }
  &__value{
    &:after{
      content: " шт."
    }
  }
}