.products-list {
  &__header {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    @media (max-width: 660px) {
      margin: 0 -8px;
    }
  }
}
