.footer {
  background-color: #474645;
  padding: 20px 0;
  color: white;
  @media (max-width: 1000px) {
    font-size: 13px;
  }
  @media (max-width: 536px) {
    font-size: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    @media (max-width: 1000px) {
      flex-direction: column;
      
    }
  }

  &__aboutUs {
    margin-right: 20px;
    width: 40%;
    @media (max-width: 1000px) {
      width: 100%;
      margin-right: 0;
    }

  }

  &__aboutUs-text {


  }

  &__contactUs {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @media (max-width: 1000px) {
      width: 100%;
    }

  }

  &__contactUs-email {
  }
  &__contactUs-phone {
  padding: 0;
  }

  &__contactUs-adress {
  padding: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 15px;
}
