.interesting-products {
  margin-top: 16px;
  &__header {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  &__items {
    margin: 0px -16px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 660px) {
      margin: 0 -8px
    }

  }
  &__img{

  }
  &__data{

  }
  &__main{

  }
  &__price{

  }

}


