.blur{
  display: none;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  &--active{
    z-index: 100;
    display: block;
    background: rgba(0,0,0,.6);
  }
}
.no-scroll{
  overflow: hidden;
}