@import "variables";
@import "~normalize.css/normalize";
@import "./reset";
@import "~bootstrap/scss/bootstrap";


@font-face {
  font-family: "Jost", sans-serif;
  src: local(Jost), url(./fonts/Jost-Regular.ttf) format("tff");
}
html {
  height: 100%;
}
#root{
  height: 100%;
}

body {
  height: 100%;
  font-family: "Jost", sans-serif;
}

* {
  box-sizing: border-box;
}
ul{
  padding-left: 0;
}
