.menu {
  background-color: #e48f13;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;

  &__items {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
  }
  &__btn {
    width: 23px;
    height: 20px;
    position: relative;
    cursor: pointer;
    span{
      position: absolute;
      top: 9px;
      width: 23px;
      background-color: #FFFFFF;
      height: 2px;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      width: 23px;
      background-color: #FFFFFF;
      height: 2px;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 23px;
      background-color: #FFFFFF;
      height: 2px;
    }
  }

  &__links {
    margin: 0px;
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
  }

  &__link{
    &:hover{
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }

  &__link:not(:first-child) {
    margin-left: 50px;
  }

  @media (max-width: 758px) {
    &__logo {
      display: none;
    }
    &__links {
      display: none;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 15px;
}